---
import Experience from "../components/Experience.astro";
import Layout from "../layouts/Layout.astro";
import TieIcon from "../icons/Tie.astro";
import CodeIcon from "../icons/Code.astro";
import UserIcon from "../icons/User.astro";
import Project from "../components/Project.astro";
import Hero from "../components/Hero.astro";
---
<Layout title="Portafolio de Juan Romero">
  <main class="max-w-screen-lg mx-auto">
    <section id="hero" class="w-11/12 mx-auto sm:w-4/5 max-w-screen-lg">
      <Hero></Hero>
    </section>
    <section id="experiencia" class="w-11/12 mx-auto sm:w-4/5 max-w-screen-lg">
      <div class="flex items-center gap-2 text-gray-900">
        <TieIcon />
        <h2 class="font-bold text-3xl my-4">Experiencia</h2>
      </div>
      <Experience />
    </section>
    <section id="proyectos" class="w-11/12 mx-auto sm:w-4/5 max-w-screen-lg">
      <div class="flex items-center gap-2 text-gray-900">
        <CodeIcon />
        <h2 class="font-bold text-3xl my-4">Proyectos</h2>
      </div>
      <div class="flex flex-col gap-16">
        <Project />
      </div>
    </section>
    <section id="sobreMi" class="w-11/12 mx-auto sm:w-4/5 max-w-screen-lg my-28">
      <div class="flex items-center gap-2 text-gray-900">
        <UserIcon />
        <h2 class="font-bold text-3xl my-4">Sobre mí</h2>
      </div>
      <div class="flex flex-col gap-3 text-pretty font-normal text-gray-600">
        <p>
          Soy un joven desarrollador en busca de crecimiento personal. Me identifico con la idea de que a través de la pasión podemos hacer cosas increíbles, y gracias a ello, puedo avanzar en mi conocimiento continuo.
        </p>
        <p>
          Mi primer contacto con la tecnología fue al instalar una ROM en mi celular, todo esto porque quería jugar de una mejor forma. Desde aquella vez, mi curiosidad por la programación empezó.
        </p>
        <p>
          Actualmente, sigo mi aprendizaje de conocimientos, aunque ya he dado pasos importantes. Comencé con una Tecnología en Análisis y Desarrollo de Software en el SENA y sigo aprendiendo aún más con proyectos personales.
        </p>
      </div>
    </section>
  </main>
</Layout>
<style></style>
