--- 
import CvIcon from "../icons/Cv.astro"

const filePath = '../../public/ATS-CV.pdf';

---
<a href={filePath} download class="flex items-center justify-center gap-2 hover:text-blue-700 px-4 py-2 border-1 border-solid border-black/90 rounded-xl border">
    <CvIcon />
  Descargar CV
</a>
