<header class='w-full p-1 mx-auto'>
    <nav class='p-1 flex justify-center flex-wrap items-center gap-2 flex-col sm:flex-row sm:gap-4'>
        <a href="" class="text-gray-800 transition duration-100 ease-in hover:text-blue-500">Experiencia</a>
        <a href="" class="text-gray-800 transition duration-100 ease-in hover:text-blue-500">Proyectos</a>
        <a href="" class="text-gray-800 transition duration-100 ease-in hover:text-blue-500">Sobre mí</a>
        <a href="" class="text-gray-800 transition duration-100 ease-in hover:text-blue-500">Contacto</a>
    </nav>
</header>